{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{% include 'partials/_head.html' %}
{% endblock %}

{% block title %}
<title>Register Page</title>
{% endblock %}

{% block navbar %}
{% include 'partials/_navbar.html' %}
{% endblock %}

{% block graph %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method='post'>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {% csrf_token %}{{ form|crispy }}
                </fieldset>
                <div class="form-group text-center mt-2">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a href="{% url 'user:login' %}" class="ml-2">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}