{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{% include 'partials/_head.html' %}
{% endblock %}

{% block title %}
<title>Create</title>
{% endblock %}

{% block navbar %}
{% include 'partials/_navbar.html' %}
{% endblock %}

{% block graph %}
<div class='container mt-1'>
    <div class="row justify-content-center align-items-center message">
        <div class="col-lg-8">
            {% include 'partials/parts/_messages.html' %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 gy-3">
            <h2 class="d-flex mb-2">Create or Update</h2>
            <form method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class='form-group'>
                    {{ form|crispy }}
                </div>
                <div class="form-control text-center border-0">
                    <button type='submit' class='btn btn-primary mt-2'>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}